body{
  border: 0;
  margin: 0;
  padding: 0;
}

/* NavBar Section */

      /* For Toggling the Navbar in SmartPhone */
      .toggle-section{
          display: none;
       }
      .toggle{
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
      }
      .toggle-box{
          width: 45px;
          flex-direction: column;   
          margin: 30px;
      }
      .line-2,.line-3,.line-1{
          width: 45px;
          height: 5px;
          margin-top: 3px;
          margin-bottom: 2px;
          background-color: rgb(175, 178, 188);
          border-radius: 15%;
         
      }
      .line-1,.line-3{
          transition: all 0.5s ease-in-out 0s;
      }


.navbar{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  box-shadow: 1px 1px 3px 4px rgba(198, 195, 195, 0.908);

}
.nav-box{
  display: flex;
  flex-flow: row;
  justify-content:flex-end;
  align-content: center;
  padding-right: 30px;
  
}
.nav-box ul{
  list-style: none;
  display: flex;
  transition: all 1s 1s;
}
.nav-box ul li{
  padding-left: 33px;
}
.nav-box ul li a{
  text-decoration: none;
  font-size: 18px;
  color: black;
 
}


/* END of Navbar Section */

/*  Grid Page Boxes */
.grid{
  display:flex ;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.grid-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.grid-box .box{
  margin: 10px;
   width: 385px;
   height: 385px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
}

.box1{
  box-shadow: 1px 2px 4px 4px rgb(95, 92, 92);
  background:linear-gradient(135deg,#3300FF,#FA00FF);
}
.box2 img{
   width: 100%;
   height: 100%;
}
.box3{
  overflow: hidden;
  background-color: rgba(178, 172, 172, 0.401);
}
.smallBox{
  margin: 3px;
   width: 100px;
   height: 100px;
   background-color: aqua;
   border-radius: 15px;
}


/* Responsive Smartphone Devices*/

@media screen and (max-width: 440px) {
  .nav-box{
      display: none;
  }
  .nav-box.active{
      .navbar{
          height: 168px;
      }
      padding: 0;
      display: flex;
      justify-content: center;
 
  }
  .nav-box ul{
      display: block;
 }
  .toggle-section{
      display: flex;
  }
  .toggle-box.active{
      .line-2{
         display: none;
      }
      .line-1{
          transform: rotate(45deg);
          margin-top: 13px;
          width: 100%;
          position: relative;
          top: 4px;
      }
      .line-3{
          transform: rotate(135deg);
      }
  }
  .grid-box{
    flex-direction: row-reverse;
  }
  .grid-box .box{
    width: 250px;
    height: 250px;
  }
  .smallBox{
    width: 64.94px;
    height: 64.94px;
  }
}